body{
    margin: 0;
    background-color: #EEEEF0;
}
header{
    padding: 0px 10px;
}
header h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
}
.icon{
    position: absolute;
    right: 20px;
    top: 25px;
}
.icon_color{
    color: #333333;
}
#main{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#somcanvas{
    background-color: #FFFFFF;
    border: solid 1px #777777;
    margin: 10px auto;
    width: 55%;
    height: auto;
/*     min-width: 400px; */
    min-height: 350px;
}
#rightbox{
    width: 40%;
/*     min-width: 400px; */
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#data{
    width: 100%;
    box-sizing: border-box;
    margin : 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border: solid 1px #777777;
}
#buttons{
    margin: 10px auto;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
}
.button {
    /* display: inline-block; */
    text-align: center;
    background-image: linear-gradient(#eaeaea 0%, #c6c6c6 100%);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    color: #959595;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    padding: 12px 0px;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    width: 40%;
    min-width: 150px;
}
/* ボタンにカーソルを置いた時 */
.button:hover {
    opacity: 0.8;
}
footer{
    box-sizing: border-box;
    width: 100%;
    background-color: #777777;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    margin: 0;
}
footer ul li {
    display: inline-block;
    padding: 0 20px;
}

footer ul li a {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}

