header{
    padding: 0px 10px;
}
header h1{
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-color: #EEEEF0;
}
canvas{
    background-color: #FFFFFF;
    border: solid 1px #777777;
    float: left;
    margin: 10px;
}
#rightbox{
    float: left;
    width: 410px;
}
#data{
    margin: 10px;
    padding: 20px;
    background-color: #FFFFFF;
    border: solid 1px #777777;
}
#buttons{
    margin: 10px;
}
.button {
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(#eaeaea 0%, #c6c6c6 100%);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    color: #959595;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    padding: 12px 0px;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px;
    width: 150px;
}
/* ボタンにカーソルを置いた時 */
.button:hover {
    opacity: 0.8;
}
.icon{
    position: absolute;
    right: 10px;
    top: 10px;
}
.icon_color{
    color: #333333;
}
